.container-contact {
  display: flex;
  margin: auto;
  width: 80%;
}

.flex-contact {
  flex: 1;
  border: 2px solid blue;
  margin-top: 20px;
}

.flex-contact:first-child {
  margin-right: 20px;
}

#socials {
  align-items: center;
  padding: 5px;;
}

#socials a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.3rem;
  display: flex;
  color: #000;
}

/* .socials a:hover {
  color: #444;
} */

.fab:hover {
  color: #0072b1;
}

.fa-file:hover {
  color: #FFEBCD
}
