#form-container {
  padding: 5px 2px;
  border: dotted;
  border-radius: 3px;
}

.form-wrap {
  padding: 0.5rem;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  padding-bottom: .5rem;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.form-wrap .submit {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: peachpuff;
  border-radius: 3px;
}

textarea {
  width: 100%;
  min-height: 10rem;
}
