@import "navbar.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  margin: 0;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

footer {
  color: black;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

p:hover {
  background-color: blanchedalmond;
}
