@import "navbar.css";
@import "footer.css";
@import "contact.css";
@import "form.css";



* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.about-me {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
  display: block;
  background-color: bisque;
}

h1 {
  margin: 0;
}

h2 {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  /* Adjust the maximum width as needed for your design */
  .nav {
    text-align: center;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
  }

  .nav li {
    margin: 10px 0;
  }
}
